.pictures{
    background-image: url(../../images/hero2-vec1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background: linear-gradient(rgb(218, 186, 191),rgb(255, 227, 227) );
}